.App {
  text-align: center;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 550%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.textRub{
  font-size: x-large;
  font-variant: all-petite-caps;
}
.cursesBlock{
  display: flex;
  flex-direction: column;
}
.AddFileFat{
  padding: 6px;
}
.PaddingFile{
  padding-right: 13px;
}
.converterWord{
  color: white;
    font-size: large;
}
.convErter{
  display: flex;
  justify-content: space-between;
}
.SignOutHome {
  display: flex;
    justify-content: flex-end;
}
.SignOutWelcome a{
  margin-left: 15px;
}
.marginTop{
  margin-top: 40px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 13px;
}
.addFile{
  padding-left: 10px;
}
.fileInHidden{
  opacity: 0;
  position: absolute;
  top: 0;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
